<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>23561557984-krmu96tsckpdat0c22mbujtipa93av7r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.23561557984-krmu96tsckpdat0c22mbujtipa93av7r</string>
	<key>API_KEY</key>
	<string>AIzaSyAvc2AKqmYzGDY5KGfP4OEcsI30aV9kG7k</string>
	<key>GCM_SENDER_ID</key>
	<string>23561557984</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.ProjectName</string>
	<key>PROJECT_ID</key>
	<string>aib-home</string>
	<key>STORAGE_BUCKET</key>
	<string>aib-home.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:23561557984:ios:a26c5cb0883608062d3d85</string>
</dict>
</plist>